#!/bin/bash
# local config file template used by rclonebackup.sh, 
# USAGE:
# rename this file rclonebackup.config and set your vars.
# rclonebackup.config is excluded from git


# Array list of directory to sync with rclone
# DON'T FORGET TO ADD A / AT THE END OF EACH DIRECTORY
# Example DIRS=('/path/to/dir1/' '/path/to/dir2/')
DIRS=()
