# Identification du disque connecté au port SATA1 identifié à l'origine par /dev/sdb
# résultat de la commande udevadm info --query=path --name=/dev/sdb
# /devices/pci0000:00/0000:00:1f.2/ata1/host0/target0:0:0/0:0:0:0/block/sdb
KERNEL=="sd?", SUBSYSTEM=="block", \
DEVPATH=="/devices/pci0000:00/0000:00:1f.2/ata1/host0/target0:0:0/0:0:0:0*", \
SYMLINK+="hdd1", \
RUN+="/usr/bin/logger Disque connecté port SATA1 KERNEL=$kernel, DEVPATH=$devpath" \
GOTO="END_20_DISK_BAY"

# Les partitions du disque SATA 1
KERNEL=="sd?*", SUBSYSTEM=="block", \
DEVPATH=="/devices/pci0000:00/0000:00:1f.2/ata1/host0/target0:0:0/0:0:0:0*", \
SYMLINK+="hdd1_%n"


# Identification du disque connecté au port SATA2 identifié à l'origine par /dev/sda
# résultat de la commande udevadm info --query=path --name=/dev/sda
# /devices/pci0000:00/0000:00:1f.2/ata2/host1/target1:0:0/1:0:0:0/block/sda
KERNEL=="sd?", SUBSYSTEM=="block", \
DEVPATH=="/devices/pci0000:00/0000:00:1f.2/ata2/host1/target1:0:0/1:0:0:0*", \
SYMLINK+="hdd2", \
RUN+="/usr/bin/logger Disque connecté port SATA2 KERNEL=$kernel, DEVPATH=$devpath" \
GOTO="END_20_DISK_BAY"

# Les partitions du disque SATA 2
KERNEL=="sd?*", SUBSYSTEM=="block", \
DEVPATH=="/devices/pci0000:00/0000:00:1f.2/ata2/host1/target1:0:0/1:0:0:0*", \
SYMLINK+="hdd2_%n"

# Identification du disque connecté au port SATA3 identifié à l'origine par /dev/sdc
# résultat de la commande udevadm info --query=path --name=/dev/sdc
# /devices/pci0000:00/0000:00:1f.2/ata5/host4/target4:0:0/4:0:0:0/block/sdc
KERNEL=="sd?", SUBSYSTEM=="block", \
DEVPATH=="/devices/pci0000:00/0000:00:1f.2/ata5/host4/target4:0:0/4:0:0:0*", \
SYMLINK+="hdd3", \
RUN+="/usr/bin/logger Disque connecté port SATA3 KERNEL=$kernel, DEVPATH=$devpath" \
GOTO="END_20_DISK_BAY"

# Les partitions du disque SATA 3
KERNEL=="sd?*", SUBSYSTEM=="block", \
DEVPATH=="/devices/pci0000:00/0000:00:1f.2/ata5/host4/target4:0:0/4:0:0:0*", \
SYMLINK+="hdd3_%n"

# Identification du disque connecté au port SATA4 identifié à l'origine par /dev/sdd
# résultat de la commande udevadm info --query=path --name=/dev/sdd
# /devices/pci0000:00/0000:00:1f.2/ata6/host5/target5:0:0/5:0:0:0/block/sdd
KERNEL=="sd?", SUBSYSTEM=="block", \
DEVPATH=="/devices/pci0000:00/0000:00:1f.2/ata6/host5/target5:0:0/5:0:0:0*", \
SYMLINK+="hdd4", \
RUN+="/usr/bin/logger Disque connecté port SATA4 KERNEL=$kernel, DEVPATH=$devpath" \
GOTO="END_20_DISK_BAY"

# Les partitions du disque SATA 4
KERNEL=="sd?*", SUBSYSTEM=="block", \
DEVPATH=="/devices/pci0000:00/0000:00:1f.2/ata6/host5/target5:0:0/5:0:0:0*", \
SYMLINK+="hdd4_%n"

LABEL="END_20_DISK_BAY"
